.authPage {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0fbfc;

  & .authBox {
    margin: 0 auto;
    background-color: #3d5a80;
    width: fit-content;
    padding: 0 5rem 3rem;
    border-radius: 1rem;
    box-shadow: $md_shadow;

    & img {
      display: block;
      margin: 0 auto 2rem;
      max-width: 20rem;
    }

    & .authLink {
      & p {
        text-align: center;
        font-size: 1.8rem;
        color: $gray0;
      }

      & .links {
        display: flex;
        justify-content: space-evenly;
        margin: 2rem 0 1rem;

        & svg {
          cursor: pointer;
          height: 2.4rem;
          width: 2.4rem;
          color: #e0fbfc;
        }
      }
    }

    & .divider {
      display: flex;
      margin: 1rem 0 2rem;
      & p {
        margin: 0 1rem;
        font-size: 1.8rem;
        color: $gray0;
      }
      & hr {
        width: 100%;
      }
    }

    & .authFrom {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & input {
        font-size: 1.8rem;
        width: 25rem;
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        background-color: transparent;
        border-bottom: 0.25rem solid $color_prim_l;
        color: $gray0;

        &::placeholder {
          color: $gray2;
          text-transform: capitalize;
        }
      }
      & button {
        padding: 1rem;
        margin: 0 0 3rem;
        border-radius: 50rem;
        border: none;
        outline: none;
        box-shadow: $sm_shadow;
        background-color: $color_prim_l;
        color: $gray1;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
      }
    }
  }

  & .textLink {
    font-size: 1.35rem;
    text-transform: capitalize;
    color: $gray0;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & a {
      font-size: inherit;
    }
  }
}
