.homepage {
  background-color: $color05;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  box-shadow: $md_shadow;
  color: $gray0;
  display: flex;

  @include laptop {
    box-shadow: none;
    width: 100%;
  }

  & .sidebar {
    background-color: $gray2;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color05;
    border-right: $md_border;

    & .logo {
      max-width: 20rem;
      margin: -1rem 0;
    }

    & .search {
      width: 80%;
      border-bottom: $sm_border;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & input {
        font-size: 1.8rem;
        color: $gray0;
        min-width: 10rem;
        flex: 1;
      }
      & svg {
        color: $color04;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        flex-shrink: 0;
      }

      &::placeholder {
        color: $gray2;
      }
    }

    & .messageList {
      flex: 1;
      width: 90%;
      margin: 1rem auto;
      padding: 0.5rem 0;
      overflow-x: hidden;
      overflow-y: scroll;
      border: $md_border;
      border-radius: 1rem;

      &::-webkit-scrollbar {
        appearance: none;
        display: none;
      }

      & .friend.active {
        background-color: $color01;
      }

      & .friend {
        height: 7rem;
        width: 95%;
        padding: 1rem 0.5rem;
        margin: 0.5rem auto;
        border: $sm_border;
        box-shadow: $md_shadow;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.7rem;
        cursor: pointer;

        & .friendImg {
          height: 5rem;
          width: 5rem;
          border-radius: 20rem;
          object-fit: cover;
        }
        & .friendName {
          max-width: 60%;
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;

          & .lastMessage {
            font-size: 1.2rem;
            color: $gray2;
            margin-top: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        & .new {
          background-color: $color04;
          padding: 0.5rem 1rem;
          font-size: 1.2rem;
          border-radius: 2rem;
        }

        &:hover {
          background-color: $gray3;
        }
      }
    }

    & .user {
      height: 7rem;
      width: 90%;
      padding: 1rem;
      margin-bottom: 1rem;
      border: $md_border;
      border-radius: 1rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      font-size: 1.7rem;

      & .userImg {
        height: 5rem;
        width: 5rem;
        border-radius: 20rem;
        object-fit: cover;
      }

      & .username {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: capitalize;
      }

      & .contactIcon {
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
      }
      & .logout {
        background-color: $color04;
        color: $gray0;
        padding: 0.5rem 2rem;
        border-radius: 10rem;
        cursor: pointer;
      }
    }
  }

  & .chat {
    width: 75%;
    background: $color05;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > * {
      width: 100%;
      border: $md_border;
      border-radius: 1rem;
      overflow: hidden;
    }

    & .activeChat {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      padding: 1rem 2rem;
      text-transform: capitalize;

      &User {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &Img {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50rem;
        display: inline;
        object-fit: cover;
      }
    }

    & .chatText {
      flex: 1;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 1rem;

      &::-webkit-scrollbar {
        appearance: none;
        display: none;
      }

      & .chatMessage {
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: start;
        color: $gray2;
        margin: 1rem 0;

        & .chatUserImg {
          height: 4rem;
          width: 4rem;
          border-radius: 10rem;
          object-fit: cover;
        }

        & .chatPayload {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;

          & .chatTextMessage {
            max-width: 70%;
            background-color: $color01;
            padding: 1rem;
            border-radius: 1rem 1rem 1rem 0;
            border: $sm_border;
            color: $gray0;
          }
          & .chatTextImg {
            width: 30%;
            margin: 1rem 0;
            border: $sm_border;
            border-radius: 0.5rem;
            overflow: hidden;
          }
        }
      }
      & .chatMessage.activeUser {
        flex-direction: row-reverse;
        & .chatPayload {
          align-items: end;
          & .chatTextMessage {
            text-align: end;
            border-radius: 1rem 1rem 0 1rem;
          }
        }
      }
    }

    & .sendText {
      height: 7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      overflow: hidden;

      & .sendInput {
        width: 80%;
        flex: 1;
        padding: 1rem;
        color: $gray0;
        font-size: 1.8rem;
        cursor: text;

        &::placeholder {
          color: $gray2;
        }
      }
      & .attachments {
        display: flex;
        align-items: center;
        gap: 2rem;

        & svg {
          height: 2rem;
          width: 2rem;
          color: $gray2;
        }

        & input {
          display: none;
        }

        & .sendBtn {
          & svg {
            color: $color04;
            height: 3rem;
            width: 3rem;
          }
        }
      }
    }
  }
}
