// reset default
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
q,
ul,
li,
fieldset,
form,
label,
legend,
table,
footer,
header,
nav,
section,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* HTML5 display-role reset for older browsers */
aside,
figcaption,
footer,
header,
menu,
nav,
section {
  display: block;
}
body,
html {
  font-size: 62.5%;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

.main {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  background-color: $color01;
  overflow: hidden;
}

button,
input {
  background-color: transparent;
  border: none;
  outline: none;
}
