// colors
$color01: #3d5a80;
$color02: #98c1d9;
$color03: #e0fbfc;
$color04: #ee6c4d;
$color05: #293241;

$gray0: #f8f9fa;
$gray1: #dee2e6;
$gray2: #adb5bd;
$gray3: #495057;
$gray4: #0e0f11;

$sm_shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
$md_shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

$sm_border: 1px solid $color04;
$md_border: 2px solid $color04;
